*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.project
*.classpath
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
**/target/*
*.*_bak
**/.settings/*
**/.externalToolBuilders/*
**/temp/*
/target
/.metadata
/.recommenders
/bin
*.rej
.idea/
.gradle/
**/target/*
**/out/*
**/logs/*

