<?xml version="1.0" encoding="UTF-8"?>

<configuration status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 输出日志的格式 -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %c:%L - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <logger name="org.apache.ibatis" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="org.springframework.web" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="io.lance.gradle" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <root level="info">
            <AppenderRef ref="Console"/>
        </root>
    </Loggers>

</configuration>